html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  font-family: "Nunito", sans-serif;
  margin: 0; }

header {
  background: url("./img/E1976_04_1.jpg") 100% 100%;
  background-size: cover;
  height: 33vh;
  display: flex;
  align-items: flex-end; }
  header .logo-container {
    width: 100%;
    text-align: right;
    padding: 10px 0; }
    header .logo-container .logo {
      max-width: 200px;
      padding-right: 15px; }

nav {
  width: 100%;
  background-color: #111;
  border-bottom: solid 1px white; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline-block;
      text-transform: uppercase;
      padding: 20px; }
      nav ul li a {
        color: white;
        text-decoration: none;
        border-bottom: solid 1px rgba(255, 255, 255, 0);
        transition: all .4s; }
        nav ul li a:hover, nav ul li a:focus {
          border-bottom-color: white; }

.content {
  background: #111;
  height: 100vh; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  text-align: right;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  footer .copyright {
    font-size: .9em; }
  footer .social a {
    color: #111; }
  footer .social > * {
    margin-left: 10px;
    transition: color .3s; }
    footer .social > *:hover, footer .social > *:focus {
      color: #555; }
